/********************************
GENERAL
********************************/
* {
	box-sizing: border-box;
}

body {
	/* flexbox layout to make the footer sticky
	https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
	display: flex;						
	min-height: 100vh;
	flex-direction: column;

	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: dimgray;
}

header, footer {
	margin: 20px 5%;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	color: dodgerblue;
} 

a:visited {
	color: indigo;
}

a:hover {
	color: blueviolet;
} 

h1, h2 {
	font-weight: 300;
}

h1{
	font-size: 18pt;
}

p {
	font-size: 14pt;
	line-height: 145%;
	max-width: 65ex;
	text-align: justify;
}

/********************************
HEADER
********************************/

#title {
	font-family: 'Alegreya Sans SC'; 
	font-size: 27pt;
	font-weight: 400;
	color: dimgray;
}

#sub-title {
	font-family: 'Alegreya Sans SC'; 
	font-size: 14pt;
	font-weight: 300;
	color: gray;
	letter-spacing: .1em;
}

.divider {
	display: none;
}

nav {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
} 

nav a, nav a:visited {
	color: gray;
}

nav a:hover {
	color: lawngreen;
}

nav a.selected {
	color: limegreen;
	/*color: aquamarine;*/
	/*color: lawngreen;*/
	/*color: mediumaquamarine;*/
	/*color: lightseagreen;*/
}

.thin-margin-header {
	margin: 5px 20px;
}

/********************************
MAIN CONTENT
********************************/

main {
	/* flexbox layout to make the footer sticky
	https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
	flex: 1;
}

/********************************
FOOTER
********************************/

footer {
	font-size: 0.75em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#houzz {
	margin-top: 2%;
	margin-bottom: 20px;
	text-align: center;
}

#copyright {
	text-align: right;
}

/********************************
PAGE: HOME
********************************/

#gallery {
	display: flex;
	flex-wrap: wrap;
}

 #gallery a {
	width: 100%;
}

#gallery img {
	display: block;
}

/********************************
PAGE: PORTFOLIO
********************************/

#portfolio {
	display: flex;
	flex-wrap: wrap;
}

#portfolio a {
	width: 100%;
	position: relative;
}

#portfolio img {
	display: block;
}

.caption {
	position: absolute;
	bottom: 0px;
	width: 100%;
	background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, .6) 100%);
	color: white;
	font-size: 16pt;
	padding: 10px;
}

/********************************
PAGE: PROJECT
********************************/

.slick-gallery-container {
	background: grey;
	padding: 50px;
}

.small-images, .large-image {
	max-width: 900px;
	margin: 0 auto;
}

.small-images img, .large-image img {
	cursor: pointer;
}

/********************************
PAGE: ABOUT
********************************/

#about {
	margin: 0 auto;
	padding: 0 5%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.about-block img {
	width: 100%;
}

/********************************
PAGE: CONTACT
********************************/

.contact-content {
	margin: 0 5%;
}

.name-email-phone {
	margin-bottom: 20px;
}

.name-email-phone p,
.address p {
	margin-top: 0;
	margin-bottom: 0;
}

.air-filters-2 {
	display: none;
}


/*#contact-info {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	margin: auto 5%;
	align-items: stretch;
}

#contact-text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#contact-text > div {
	max-width: 100%;
}

#contact-image {
	object-fit: cover;
	min-height: 100%;
}*/

form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 350px;
	background-color: lightgray;
	padding: 10px;
	color: black;
	border-radius: 5px;
}

label, input, textarea {
	display: block;
	width: 100%;
	/*margin: 5px 0;*/
	padding: 5px 7px;
	border-width: 0px;
	outline: none;
	font-size: 14pt;
	font-weight: 300;
	line-height: 145%;
}

textarea {
	height: 200px;
	resize: none;
}

input[type="submit"]{
	width: 100%;
	max-width: 200px;
	height: 60px;
	line-height: inherit;
	padding: 0 7px 0px;
	/*margin-top: 15px;*/
	margin: 15px auto 5px;
	/*font-weight: 400;*/
	background-color: dodgerblue;
	/*background-color: seagreen;*/
	color: white;
	border-radius: 5px;
}

input[type=text]:focus, input[type=email]:focus, textarea:focus {
	border: 1px solid silver;
}

iframe {
	width: 100%;
	height: 350px;
*/}



