/* Medium Screen */
@media screen and (min-width: 480px) {
	#title {
		font-size: 36pt;
	}

	nav {
		font-size: 12pt;
	}
}

@media screen and (min-width: 480px) and (max-width: 899px) {
	#gallery a {
		width: 50%;
	}

	#portfolio a {
		width: 50%;
	}

	#contact-text {
		flex-direction: row;
	}

	#contact-text > div {
		min-width: 50%;
	}
}

/* Navigation Menu Breakpoint */

@media screen and (min-width: 640px){
	nav {
		text-align: right;
		margin-top: -25px;
	}
}

/* Large Screen */

@media screen and (min-width: 900px) {
	#gallery a {
		width: 33.3333333%;
	}

	#portfolio a {
		width: 25%;
	}

	#contact-info {
		flex-direction: row;
	}

	#contact-info > div {
		width: 47%;
	}
}